.element {
    border: 1px solid black;
    height: 60px;
    width: 54px;
}

.symbol {
    color: red;
    position: relative;
    left: 3px;
    font-size: 13px;
}

.name{
    font-size: 8px;
    position: relative;
    left: 1px;
    bottom: 5px;
}