.element {
    border: 1px solid black;
    border-radius: 7%;
}

.element:hover {
    transform: translateY(-5%);
    border: 1px solid blue;
}

#s {
    background-color: darksalmon;
}

#d {
    background-color: darkkhaki;
}

#p {
    background-color: lightgreen;
}

#f {
    background-color: aquamarine;
}

#n {
    background-color: forestgreen;
}

.atomicNumber {
    position: relative;
    bottom: 44%;
    left: 5%;
}

.symbol {
    font-size: 15px;
    position: relative;
    bottom: 55px;
    left: 4%;
}

.name {
    font-size: 9px;
    position: relative;
    bottom: 85px;
    left: 1px;
}

#gas {
    color: red;
}

#liquid {
    color: blue;
}