.elements {
    display: grid;
    height: 640px;
    grid-template-columns: repeat(23, 4%);
    grid-template-rows: repeat(9, 9%);
    gap: 5px 5px;
}

.element-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 96%;
    width: 20%;
    margin: 1%;
}

.element-popup {
    height: 100%;
    width: 100%;
    border: 1px solid blue;
    border-radius: 25px;
}

.popup-text {
    padding: 5%;
}

#popup-symbol {
    font-size: 300%;
}

#popup-name {
    font-size: 120%;
    margin-top: 2%;
}

#popup-atomicNum {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7%;
    font-size: 150%;
}